* {
  font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.game table {
  position: relative;
  left: 40%;
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 20px;
  display: inline-block;
  box-sizing: border-box;
}

.game td {
  width: 100px;
  height: 100px;
  border: 15px solid #c0c0c0;
}

#td1, #td2, #td3 {
  border-top: none;
}

#td7, #td8, #td9 {
  border-bottom: none;
}

#td1, #td4, #td7 {
  border-left: none;
}

#td3, #td6, #td9 {
  border-right: none;
}

.p1 {
  overflow: hidden;
}

.p2 {
  overflow: hidden;
  position: relative;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.result {
  position: relative;
  overflow: hidden;
  animation-duration: 1s;
}

#a1 {
  display: inline-block;
  top: 10px;
  height: 30px;
  width: 100px;
  text-decoration: none;
  border: 2px solid black;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 31px;
  font-weight: bold;
}

#a2 {
  position: relative;
  display: inline-block;
  top: 0;
  left: 170px;
  height: 30px;
  width: 100px;
  text-decoration: none;
  border: 2px solid black;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 31px;
  font-weight: bold;
}

#wcontent {
  text-align: center;
  height: 30px;
  width: 300px;
  left: 40%;
  top: 0px
  position: absolute;
  display: inline-block;
  display: none;
  font-size: 25px;
  background-color: yellow;
  color: black;
}

#p1content, #p2content {
  font-weight: 700;
  padding-top: 10px;
  font-size: 50px;
}

.circle {
  transform: rotate(-90deg);
}

.p2 #first {
  position: absolute;
  left: 40%;
  width: 15px;
  background-color: peru;
  overflow: hidden;
  animation-name: Xani1;
  height: 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.p2 #second {
  position: absolute;
  height: 100%;
  left: 40%;
  width: 15px;
  overflow: hidden;
  background-color: peru;
  animation-name: Xani2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes Xani1 {
  0% {
    tranform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes Xani2 {
  0% {
    tranform: rotate(0deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}
.button{
  position: relative;
  left: 40%;
}
.result{
  position: absolute;
  top:200px;
  left:20px;
  font-size: 40px;
  font-weight: 700;
}
